.App {
  text-align: center;
  margin: 0;
}

main {
  display: flex;
}

img {
  width: 70%;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.movie-card {
  width: 300px;
  height: 450px;
}

.page {
  width: 80%;
}

.watchlist {
  width: 20%;
}

.btn-container {
  margin-bottom: 20px;
}